* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

/* ПЕРВАЯ СЕКЦИЯ */

.promo {
    height: 800px;
    background: url(../img/bg/main_bg.jpg) center center/cover no-repeat;
    padding: 39px 0 62px 0;
}

.logo .logo__img {
    display: block;
    margin: 0 auto;
}

.logo .logo__text {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
}

h1 {
    margin-top: 53px;
}

.title {
    color: #F9BF3B;
    font-size: 41px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

h2.title {
    margin-top: 30px;
}

.simple .title__big {
    color: #FFFFFF;
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-top: 21px;
}

.promo .promo__text {
    padding: 0 13px;
    margin-top: 23px;
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}

.promo .promo__text span {
    color: #F9BF3B;
    font-weight: 700;
}

.promo .promo__btn {
    display: block;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    margin-top: 55px;
    width: 343px;
    height: 92px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    background-image: linear-gradient(to top, #2398b9 0%, #3ab6da 100%);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.more {
    margin-top: 55px;
}

.more .more__text {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.more .more__img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

/* КОНЕЦ ПЕРВОЙ СЕКЦИИ */

/* ВТОРАЯ СЕКЦИЯ */

.waiting {
    min-height: 607px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting .waiting__header {
    color: #252525;
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.waiting .waiting__divider {
    width: 220px;
    height: 4px;
    background: #F9BF3B;
    margin: 18px auto 0 auto;
}

.waiting .waiting__subheader {
    margin-top: 18px;
    color: #4A4A4A;
    font-family: 'Roboto';
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}

.waiting .waiting__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.waiting .waiting__wrapper .waiting__item {
    width: 339px;
    text-align: center;
}

.waiting .waiting__wrapper .waiting__item .waiting__img {
    width: 100%;
}

.waiting .waiting__wrapper .waiting__item .waiting__descr {
    margin-top: 33px;
    color: #4A4A4A;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

/* КОНЕЦ ВТОРОЙ СЕКЦИИ */

/* НАЧАЛО ТРЕТЬЕЙ СЕКЦИИ */

.optimization {
    min-height: 550px;
    padding: 102px 0 37px 0;
}

.optimization__header {
    margin-left: 391px;
    color: #299CBD;
    font-size: 29px;
    font-weight: 400;
    text-transform: uppercase;
}

.optimization__text {
    margin-top: 25px;
    margin-left: 391px;
    color: #4A4A4A;
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
}

.optimization__text span {
    font-weight: 700;
}

.optimization__img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

/* КОНЕЦ ТРЕТЬЕЙ СЕКЦИИ */

/* НАЧАЛО ЧЕТВЕРТОЙ СЕКЦИИ */

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url('../img/bg/second_bg.jpg') center center/cover no-repeat;
}

.finish__header {
    color: #fff;
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    
}

.finish__divider {
    width: 220px;
    height: 4px;
    background: #F9BF3B;
    margin: 18px auto 0 auto;
}

.finish__wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish__item {
    width: 204px;
}

.finish__round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    border-radius: 100%;
    background: #B4E2FF;
}

.finish__descr {
    margin-top: 25px;
    text-align: center;
    color: #EFEFEF;
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}

/* КОНЕЦ ЧЕТВЕРТОЙ СЕКЦИИ */

/* НАЧАЛО ПЯТОЙ СЕКЦИИ */

.gift {
    min-height: 631px;
    background-color: #efefef;
    padding: 86px 0 88px 0;
}

.gift__img-present {
    display: block;
    margin: 0 auto;
}

.gift__text {
    color: #252525;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    text-align: center;
    margin-top: 45px;
}

.gift__button-btn {
    display: block;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    margin-top: 51px;
    width: 343px;
    height: 92px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    background-image: linear-gradient(to top, #2398b9 0%, #3ab6da 100%);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

/* КОНЕЦ ПЯТОЙ СЕКЦИИ */

/* НАЧАЛО ШЕСТОЙ СЕКЦИИ */

.webinar {
    min-height: 512px;
    padding: 89px 0 51px 0;
}

.webinar__header-logo {
    display: block;
    margin: 0 auto;
}

.webinar__wrapper-first-text {
    color: #252525;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 36px;
    text-transform: uppercase;
}

.webinar__wrapper-date {
    color: #299CBD;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
}

.webinar__wrapper-text {
    color: #4A4A4A;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    margin-top: 24px;
}

/* КОНЕЦ ШЕСТОЙ СЕКЦИИ */

/* НАЧАЛО ПОДВАЛА */

footer {
    min-height: 150px;
    padding: 60px 0;
    background-color: #1A1A1A;
}

.footer__links, .footer__links a {
    color: #888888;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
}

.footer__links a:hover, .footer__links a:visited, .footer__links a:active {
    color: #888888;
}

.footer__callback {
    color: #888888;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
}

.footer__callback a, .footer__callback a:hover, .footer__callback a:visited, .footer__callback a:active {
    color: #888888;
}

/* КОНЕЦ ПОДВАЛА */