* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

/* ПЕРВАЯ СЕКЦИЯ */

.promo {
    height: 800px;
    background: url(../img/bg/main_bg.jpg) center center/cover no-repeat;
    padding: 39px 0 62px 0;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
}

h1 {
    margin-top: 53px;
}

.title {
    color: #F9BF3B;
    font-family: 'Roboto';
    font-size: 41px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

h2.title {
    margin-top: 30px;
}

.simple .title_big {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 80px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: 21px;
}

.promo .promo_text {
    padding: 0 13px;
    margin-top: 23px;
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    font-family: "Roboto Light";
    text-align: center;
}

.promo .promo_text span {
    color: #F9BF3B;
    font-family: "Roboto - Bold";
    font-weight: 700;
}

.promo .promo_btn {
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    width: 343px;
    height: 92px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    background-image: linear-gradient(to top, #2398b9 0%, #3ab6da 100%);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    color: #FFFFFF;
    font-family: 'Roboto Condensed';
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.more {
    margin-top: 73px;
}

.more .more_text {
    color: #FFFFFF;
    font-family: 'Roboto - Thin';
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

/* КОНЕЦ ПЕРВОЙ СЕКЦИИ */

/* ВТОРАЯ СЕКЦИЯ */

